.home-progress-section {
    background-image: $gradient-color;
    padding: 36px 0 40px;

    .counter-inner {
        .counter-item-wrap {
            .counter-item {
                display: flex;
                padding: 30px 18px;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgba(255, 255, 255, 0.25);

                &:last-child {
                    border-right: 0;
                }

                @include bp(lgx) {
                    border-right: 0;

                    &:first-child {
                        border-width: 0 1px 1px 0;
                        border-style: solid;
                        border-color: rgba(255, 255, 255, 0.25);
                    }

                    &:last-child {
                        border-width: 1px 0 0 1px;
                        border-style: solid;
                        border-color: rgba(255, 255, 255, 0.25);
                    }
                }

                @include bp(smx) {
                    border-width: 1px 0 0 0px;
                    border-style: solid;
                    border-color: rgba(255, 255, 255, 0.25);

                    &:first-child {
                        border-width: 0px 0 0 0;
                        border-style: solid;
                        border-color: rgba(255, 255, 255, 0.25);
                    }

                    &:last-child {
                        border-width: 1px 0 0 0px;
                        border-style: solid;
                        border-color: rgba(255, 255, 255, 0.25);
                    }
                }
                .counter-detail {
                    display: flex;
                }
                .counter-no {
                    color: $light-color;
                    font-size: 50px;
                    font-weight: 700;
                    text-align: left;
                    line-height: 1.1;

                    @include bp(lgx) {
                        text-align: center;
                    }
                }

                .Completed {
                    color: #E7F0F7;
                    line-height: 1.1;

                    @include bp(lgx) {
                        text-align: center;
                    }
                }

                .counter-icon {
                    margin-right: 20px;

                    i {
                        color: $light-color;
                        font-size: 70px;
                    }
                }
            }
        }
    }
}