.home-discover-section {
    background-color: transparent;

    .row-wrapper {
        background-color: #E7F0F7;
        padding: 67px 50px 70px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 5px;
        @include bp(mdx) {
            grid-template-columns: auto;
        }
        @include bp(smx) {
            padding: 50px 20px;
        }

        .section-head {
            .title-divider-right {
                margin-bottom: 15px;
            }

            .section-title {
                margin-bottom: 25px;
            }

            p {
                margin-bottom: 0;
            }
        }

        .loacation-image {
            position: relative;
            margin-top: 15px;
            margin-left: 50px;

            @include bp(lgx) {
                margin-top: 40px;
                margin-left: 0;
            }

            .locaton-mark {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;

                .locaton-icon {
                    position: relative;
                    z-index: 1;
                    display: inline-block;

                    i {
                        font-size: 19px;
                        color: $primary-color;
                    }

                    .location-txt {
                        background-color: $primary-color;
                        color: $light-color;
                        position: absolute;
                        bottom: -21px;
                        left: 0;
                        transform: translatex(-30%);
                        padding: 2px 10px;
                        border-radius: 20px;
                        font-size: 13px;
                        display: inline-block;
                        white-space: nowrap;
                        opacity: 0;
                        transition: all 0.4s;
                    }

                    &:hover {
                        .location-txt {
                            opacity: 1;

                        }
                    }
                }
            }

            .mark-1 {
                top: 13%;
                left: 12%;
            }

            .mark-2 {
                top: 21%;
                left: 68%;
            }

            .mark-3 {
                top: 10%;
                left: 85%;
            }

            .mark-4 {
                top: 78%;
                left: 86%;
            }

            .mark-5 {
                top: 3%;
                left: 41%;
            }

            .mark-6 {
                top: 57%;
                left: 28%;
            }

            .mark-7 {
                top: 48%;
                left: 47%;
            }

            .mark-8 {
                top: 30%;
                left: 20%;
            }

            .mark-9 {
                top: 70%;
                left: 60%;
            }

            .mark-10 {
                top: 33%;
                left: 80%;
            }
        }
    }
}