.contact-section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
	padding-top: 100px;
	position: relative;
	z-index: 1;
	.video-button {
		span {
			color: $light-color;
			font-size: 16px;
			font-weight: 600;
			margin-left: 15px;
		}
	}
	.home-contact-form {
		background-color: rgba($primary-color, 0.5);
		padding: 50px;
		input {
			border: none;
		}
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}

		/* Firefox */
		input[type=number] {
		  -moz-appearance: textfield;
		}
	}
	@include bp(smx) {
		padding-bottom: 70px;
		padding-top: 70px;
		.home-contact-form {
			margin-top: 40px;
			padding: 35px 20px;
		}
	}
}