.no-content-section {
    padding-top: 110px;
    padding-bottom: 180px;
    background-color: rgba($sub-title-color, 0.5);

    @include bp(mdx) {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}

.no-content-wrap {
    text-align: center;

    .title-wrap {
    	position: relative;
    }
    span {
        color: #D9D9D9;
        @include font-size(300);
        font-family: $title-font;
        font-weight: 900;
        line-height: 1.2;
    }
    h1 {
        font-size: 60px;
        margin-bottom: 0;
        position: absolute;
        @include translate(0, -25%);
        top: 50%;
        left: 0;
        right: 0;
        color: $title-color;
    }
    p {
        @include font-size(16);
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.1;
        font-family: $title-font;
        color: $title-color;
    }
    .search-form-wrap {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 46px;
        .search-form {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
            border: 1px solid $secondary-color;
            input {
                padding: 0 55px 0 20px;
                border-color: $secondary-color;
            }
            button {
                padding: 10px 20px;
                top: 0;
                right: 0;
                height: 100%;
                background-color: $secondary-color;
            }
        }
    }
    @include bp(mdx) {
        span {
            @include font-size(224);
        }
        h1 {
            @include font-size(30);
        }
    }
    @include bp(smx) {
        span {
            @include font-size(124);
        }
        h1 {
            @include font-size(22);
        }
        p {
            @include font-size(14);
            margin-top: 20px;
        }
        .search-form-wrap {
            margin-top: 20px;
        }
    }
}