.career-detail-section {
    margin-bottom: 110px;
    @include bp (mdx) {
        margin-bottom: 60px;
    }
    i {
        font-style: normal;
    }
    .job-description {
        background-color: $primary-color;
        border-radius: 5px;
        overflow: hidden;
        ul {
            margin: 0;
            padding: 0;
            @include flexbox();
            @include flex-wrap(wrap);
            text-align: center;
            padding: 22px 0 20px;
            align-items: center;
        }
        li {
            color: #787878;
            list-style: none;
            display: inline-block;
            padding: 0 8px;
            width: 25%;
            font-size: 16px;
            font-weight: 600;
            border-right: 2px solid rgba($light-color, 0.23);
            span {
                margin-bottom: 8px;
                font-size: 13px;
                font-weight: 600;
                font-family: $title-font;
                display: inline-block;
                color: $light-color;
            }
            h5, h6 {
                margin-bottom: 0;
                color: $light-color;
            }
            &:last-child {
                border-right: none;
            }
        }
        @include bp(smx) {
            li {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid rgba($light-color, 0.28);
                padding: 10px 0;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    @include bp(lg) {
        .career-detail-container {
            padding-left: 20px;
        }
    }
    .tab-container {
        .nav-item {
            a {
                color: #292929;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
            }
        }
        .tab-content {
            padding: 20px;
            @include bp (mdx) {
                border-width: 1px;
            }
            @include bp (smx) {
                padding: 0;
            }
            .card-body {
                padding: 0;
                @include bp (mdx) {
                    padding:0 20px;
                }
                h5 {
                    margin-top: 8px;
                    margin-bottom: 16px;
                    font-weight: 900;
                }
                ul {
                    li {
                        color: $text-color;
                    }
                }
            }
        }
    }
    .sidebar {
        .widget-bg {
            border-bottom: 3px solid $secondary-color;
            &:last-child {
                margin-bottom: 0;
            }
            @include bp(smx) {
                padding: 30px 15px;
            }
            .bg-title {
                background-image: $gradient-color;
                border-radius: 5px;
                text-transform: capitalize;
            }
            
            ul {
                li {
                    display: flex;
                    color: $text-color;
                    i {
                        font-size: 14px;
                        color: $secondary-color;
                    }
                    .list-txt {
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $primary-font;
                        color: $text-color;
                    }
                }
            }
            .accordion-content {
                .card {
                    .card-header {
                        a {
                            padding: 18px;
                            font-size: 16px;
                            font-family: $title-font;
                            font-weight: 500;
                            line-height: 1.2;
                        }
                    }
                }
                .collapse {
                    .card-body {
                        color: $text-color;
                    }
                }
            }
            .widget-icon {
                background-color: $primary-color;
                margin-bottom: 25px;
            }
            p {
                a {
                    color: $secondary-color;
                }
            }
            .or-style {
                color: $secondary-color;
                font-family: $title-font;
                font-size: 15px;
                font-weight: 500;
                padding-left: 35px;
                padding-right: 35px;
                &:before,
                &:after {
                    width: 25px;
                    background-color: $secondary-color;
                }
            }
        }
    }
}
