.faq-page-container {
    padding-bottom: 110px;

    @include bp(mdx) {
        padding-bottom: 60px;
    }

    .faq-content-wrap {
        @include bp(lg) {
            padding-left: 20px;
        }
    }

    .section-head {
        p {
            margin-bottom: 30px;
            color: $text-color;
        }
    }
}

.qsn-form-container {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
    text-align: center;
    border-radius: 5px;

    h5 {
        background-image: $gradient-color;
        color: $light-color;
        padding: 14px;
        border-radius: 5px;
    }

    p {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    form {
        padding-top: 10px;
        text-align: left;
    }

    input {
        padding: 15px;
        border: none;
        background-color: #E7F0F7;
        color: #414141;

        &:not([type="submit"]) {
            min-height: 59px;
            width: 100%;
        }

        &:not([type="submit"]) {
            height: 60px;
        }
    }

    textarea {
        padding: 15px;
        border: none;
        background-color: #E7F0F7;
        color: #414141;
    }

    input[type="submit"] {
        color: $light-color;
        padding:16px 25px;
        text-transform: capitalize;
        font-family: $title-font;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    @include bp(lg) {
        margin-left: 40px;
    }

    @include bp(lgx) {
        margin-top: 40px;
    }

    @include bp(xsx) {
        padding: 30px 20px;
    }
}

.faq-testimonial {
    .faq-image {
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

    .testimonial-content {
        background-color: $secondary-color;
        color: $light-color;
        margin-right: 25px;
        margin-top: -50px;
        padding: 30px;
        position: relative;
        border-radius: 5px;
        z-index: 2;

        @include bp(lgx) {
            margin-left: auto;
            margin-right: auto;
        }

        i {
            font-size: 40px;
            margin-bottom: 12px;
            line-height: 1;
            color: #FFFFFFA3;
        }

        .quot-title {
            color: $light-color;
            margin-bottom: 6px;
        }

        p {
            color: #f8f8f8;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @include bp(lgx) {
        margin-bottom: 40px;
    }
}