.product-outer-wrap {
    padding-top: 110px;
    padding-bottom: 110px;

    @include bp(lgx) {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .product-notices-wrapper {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        margin-bottom: 40px;

        select,
        form {
            width: 100%;
        }

        @include bp(sm) {
            p {
                margin-bottom: 0;
                font-size: 15px;
                color: $text-color;
            }

            form {
                width: auto;

                select {
                    width: auto;
                    font-size: 16px;
                    border-radius: 0;
                    border: 1px solid #d9d9d9;
                    color: #000;
                    padding: 8px 16px;
                    height: 50px;
                }
            }
        }
    }
}

.product-inner-wrap {
    margin-bottom: 110px;

    @include bp(lgx) {
        margin-bottom: 80px;
        ;
    }
}

.single-product-outer-wrapper {
    padding: 120px 0 0;

    @include bp(mdx) {
        padding: 80px 0 0;
    }
}

.product-toolbar {
    margin-bottom: 60px;

    .form-group {
        position: relative;

        i {
            position: absolute;
            width: 42px;
            height: 42px;
            line-height: 50px;
            text-align: center;
            right: 0;
            top: 0;
            border-left: 1px solid #e6e6e6;
        }

        input {
            &[type="text"] {
                padding-right: 55px;
            }
        }
    }
}

.product-item {
    @include box-shadow(0px 0px 13px -4px rgba(0, 0, 0, 0.15));
    margin-bottom: 25px;
    padding: 10px 10px 25px;
    border-radius: 5px;
    @include transition(all 0.4s);

    .product-image {
        position: relative;
        overflow: hidden;

        a {
            display: block;
            overflow: hidden;
            border-radius: 5px;

            img {
                @include transition(linear 0.4s);
                border-radius: 5px;
            }

            &:hover {
                img {
                    transform: scale(1.2) rotate(5deg);
                    border-radius: 5px;
                }
            }
        }
    }

    .product-content {
        h5 {
            margin-bottom: 5px;
            padding: 25px 0 15px;
            color: $title-color;
        }

        .product-cat {
            a {
                color: #4a4a4a;
                @include font-size(13);
                margin-bottom: 10px;
                display: inline-block;

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .product-price {
            font-size: 20px;
            font-weight: 600;
            font-family: $title-font;
            line-height: 1.2;
            padding: 0 20px;
            margin-bottom: 30px;

            del {
                color: #787878;
                opacity: 0.5;
            }

            ins {
                color: $secondary-color;
                text-decoration: underline;
            }
        }

        .button-round-secondary {
            padding: 10px 15px;
        }
    }

    .onsale {
        background: $secondary-color;
        @include border-radius(5px);
        color: $light-color;
        font-size: 15px;
        font-weight: 400;
        right: 10px;
        line-height: 30px;
        padding: 0px 12px;
        display: block;
        position: absolute;
        top: 10px;
        z-index: 3;

        &:after {
            content: "!";
        }
    }

    .rate-wrap {
        padding: 20px 20px 0;
        border-top: 1px solid #e6e6e6;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include align-items(center);
    }

    .button-round-primary {
        @include font-size(15);
        margin-top: 18px;
        padding: 10px 15px;
        text-transform: capitalize;
    }

    &:hover {
        @include translate(0, -5px);
    }
}

.procduct-rate {
    display: inline-block;
    position: relative;
    @include font-size(13);
    letter-spacing: 3px;
    overflow: hidden;

    @include bp(lgx) {
        @include font-size(12);
    }

    &:before {
        color: #ddd;
        content: "\f005 \f005 \f005 \f005 \f005";
        display: block;
        font-family: 'Font Awesome 5 free';
    }

    span {
        float: left;
        left: 0;
        overflow: hidden;
        padding-top: 1.5em;
        position: absolute;
        top: 0;
        z-index: 1;

        &:before {
            color: #FEBF00;
            content: "\f005 \f005 \f005 \f005 \f005";
            display: block;
            font-family: 'Font Awesome 5 free';
            font-weight: 900;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.pagination {
    li {
        margin-left: 0;
        margin-right: 0;

        &:hover,
        &.active {
            a {
                background-color: $hover-color;
                color: $light-color;
            }
        }

        a {
            color: $text-color;
            padding: 15px;
            background-color: #f8f8f8;
            line-height: 1;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
            border-radius: 0;
        }
    }
}

.sidebar {
    .divider-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }

    .search_widget {
        form {
            input {
                border-radius: 5px;
                height: 50px;
            }

            .search-btn {
                font-size: 24px;
                top: 0;
                right: 0;
                font-size: 15px;
                border-radius: 0 5px 5px 0;
                background-color: $secondary-color;
                color: white;
                padding: 16px;
                height: 100%;
            }
        }
    }

    .widget_category_product_thumb {
        margin-bottom: 40px;

        ul {
            li {
                padding: 10px;

                .count,
                h5 {
                    color: #292929;
                    font-family: $title-font;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 1.2;
                }
            }
        }
    }

    .widget.widget-product-thumb {
        .product-thumb {
            border-radius: 5px;
            overflow: hidden;
            transform: scale(1.02);
        }

        .product-content {
            h6 {
                margin-bottom: 10px;

                a {
                    color: #292929;
                    line-height: 1.1;
                    font-family: $title-font;

                    &:hover {
                        color: $anchor-hover-color;
                    }
                }
            }

            .entry-meta {
                span {
                    &:before {
                        top: 25%;
                    }

                    a {
                        font-size: 12px;
                        color: #adadad;
                        line-height: 1.3;

                        &:hover {
                            color: $anchor-hover-color;
                        }
                    }
                }
            }
        }
    }

    .gallery-colum-3 {
        .gallery-item {
            padding: 9px;

            a {
                border-radius: 5px;
                overflow: hidden;
            }
        }
    }
}