.search-section {
    .post {
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;
        border-radius: 5px;

        .entry-content {
            padding: 20px;

            h5 {
                margin-bottom: 12px;

                a {
                    color: #292929;
                    transition: all 0.5s;

                    &:hover {
                        color: $anchor-hover-color;
                    }
                }
            }


            .entry-meta {
                margin-bottom: 12px;
                margin-right: -8px;
                margin-left: -8px;

                .byline,
                .posted-on,
                .post-on,
                .comment-info {
                    padding: 0 8px;
                    position: relative;
                    display: inline-block;
                    line-height: 1;
                    font-size: 13px;
                    font-weight: 500;

                    &:before {
                        content: "|";
                        font-weight: 100;
                        right: -4px;
                        top: -3px;
                        color: #a7a7a7;
                        font-size: 16px;
                        position: absolute;
                        line-height: 1;
                    }

                    a {
                        color: #a7a7a7;
                        transition: all 0.5s;

                        &:hover {
                            color: $anchor-hover-color;
                        }
                    }
                }

                .comment-info {
                    &:before {
                        content: none;
                    }
                }
            }
        }

        p {
            color: $text-color;
        }
    }

    .button-container {
        .button-text {
            color: $sub-secondary-color;
            text-transform: capitalize;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            font-family: $title-font;

            &:after {
                content: "..";
                display: inline-block;
            }

            &:hover {
                color: $anchor-hover-color;
            }

            @include bp(mdx) {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    .post-navigation-wrap {
        margin-top: 10px;
    }

    .content-search-from {
        margin-top: 110px;
        padding-top: 110px;
        padding-bottom: 110px;
        background-color: $sub-title-color;

        @include bp (mdx) {
            margin-top: 60px;
            padding: 60px 0;
        }

        .section-head {
            margin-bottom: 0;
        }

        h6 {
            color: $text-color;
        }

        .section-title-heading {
            margin: 5px auto 15px;
        }
        .title-divider-center {
            &:before,
            &:after {
                width: 65px;
            }
        }

        .search-form {
            margin-top: 40px;
            border-radius: 5px;
            border: 1px solid $secondary-color;

            input {
                border-color: $secondary-color;
                background-color: $sub-title-color;
            }

            ::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #a7a7a7;
                opacity: 1;
                /* Firefox */
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: #a7a7a7;
            }

            ::-ms-input-placeholder {
                /* Microsoft Edge */
                color: #a7a7a7;
            }

            .search-btn {
                padding: 17px;
                top: 0;
                right: 0;
                background-color: $secondary-color;
                transition: all 0.3s;
                height: 100%;

                &:hover {
                    background-color: $sub-secondary-color;
                }

                @include bp(smx) {
                    padding: 12px;
                }
            }
        }
    }
}

.pagination {
    li {
        margin-left: 6px;
        margin-right: 6px;
        transition: all 0.5s;

        a {
            color: $text-color;
            border: none;
            height: auto;
            width: auto;
            line-height: 1;
            text-align: center;
            border: none;
            transition: all 0.3s;
            font-size: 15px;
            font-weight: 400;
        }

        &:hover {
            a {
                background-color: transparent;
                color: $hover-color;
                border: none;
                border-radius: 0;
            }
        }

        &.active {
            a {
                background-color: transparent;
                color: $primary-color;
            }
        }
    }
}