.service-detail-section {
    position: relative;
    z-index: 1;
    margin-bottom: 110px;

    @include bp (mdx) {
        margin-bottom: 60px;
    }

    i {
        font-style: normal;
    }

    .service-detail-inner {

        @include bp(mdx) {
            padding-bottom: 0;
        }
    }

    .service-description {
        background-image: $button-gradient-color;
        border-radius: 5px;
        overflow: hidden;

        .service-tag {
            padding: 20px 0;
            @include bp(mdx) { 
                padding: 0;
            }
        }

        .pink-border {
            border-right: 2px solid rgba(242, 64, 128, 0.17);

            &:last-child {
                border-right: none;
            }

            @include bp(mdx) {
                padding: 10px 0;
                border-right: 0;
                border-bottom: 1px solid rgba(242, 64, 128, 0.17);

                &:last-child {
                    border-bottom: none;
                }

                .rating-start-wrap {
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        span {
            margin-bottom: 8px;
            font-size: 13px;
            font-weight: 700;
            line-height: 1.2;
            color: #111111;
        }

        h6 {
            margin-bottom: 0;
        }

        h3 {
            margin-bottom: 0;
            color: $light-color;
        }

        .tag-name {
            margin-bottom: 2px;
        }

        .tag-discription {
            margin-bottom: 0;
            font-weight: 400;
            line-height: 1;
        }

        .rating-start-wrap {
            margin-top: 5px;

            .rating-start {
                font-size: 14px;
                line-height: 1;

                span {
                    font-size: 14px;
                    line-height: 1;
                    margin-bottom: 0;

                    &:before {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    @include bp(lg) {
        .service-detail-container {
            padding-left: 20px;
        }
    }

    .tab-container {
        .nav-item {
            a {
                color: #292929;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.7;
                font-family: $title-font;
            }
        }

        .tab-content {
            padding: 20px;
            background-color: $light-color;

            @include bp (mdx) {
                border-width: 1px;
            }
             @include bp (smx) {
                padding-right: 0;
                padding-left: 0;
            }

            .card-body {

                @include bp (smx) {
                    padding: 0 12px;
                }

                h5 {
                    color: $title-color;
                    margin-bottom: 16px;
                    margin-top: 8px;
                    font-weight: 700;
                    font-family: $title-font;
                }

                .instructor-detail {

                    strong,
                    em,
                    figure {
                        margin-bottom: 20px;
                        display: block;
                    }

                    .loacation-image {
                        position: relative;

                        .locaton-mark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;

                            .locaton-icon {
                                position: relative;
                                z-index: 1;
                                display: inline-block;

                                i {
                                    font-size: 19px;
                                    color: $primary-color;
                                }

                                .location-txt {
                                    background-color: $primary-color;
                                    color: $light-color;
                                    position: absolute;
                                    bottom: -21px;
                                    left: 0;
                                    transform: translatex(-30%);
                                    padding: 2px 10px;
                                    border-radius: 20px;
                                    font-size: 13px;
                                    display: none;
                                    white-space: nowrap;
                                }

                                &:hover {
                                    .location-txt {
                                        display: inline-block;

                                    }
                                }
                            }
                        }

                        .mark-1 {
                            top: 13%;
                            left: 12%;
                        }

                        .mark-2 {
                            top: 21%;
                            left: 68%;
                        }

                        .mark-3 {
                            top: 10%;
                            left: 85%;
                        }

                        .mark-4 {
                            top: 78%;
                            left: 86%;
                        }

                        .mark-5 {
                            top: 3%;
                            left: 41%;
                        }

                        .mark-6 {
                            top: 57%;
                            left: 28%;
                        }

                        .mark-7 {
                            top: 48%;
                            left: 47%;
                        }

                        .mark-8 {
                            top: 30%;
                            left: 20%;
                        }

                        .mark-9 {
                            top: 70%;
                            left: 60%;
                        }

                        .mark-10 {
                            top: 33%;
                            left: 80%;
                        }
                    }
                }

                ul {
                    li {
                        color: $text-color;
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .sidebar {
        .video-widget {
            border-radius: 25px;
            overflow: hidden;

            iframe {
                width: 80%;
                height: 150px;
                display: block;
                margin-right: auto;
                margin-left: auto;
                border-radius: 5px;
            }
        }

        .brochure {
            margin-top: -70px;
            padding: 100px 30px 26px;
            @include bp (xsx){
                padding-left:2px;
                padding-right: 2px;
            }
            .enroll-coures-btn {
                margin-top: 30px;

                a {
                    text-transform: none;
                }
            }
        }

        .widget-bg {
            background-color: $light-color;
            box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            @include bp (mdx) {
                margin-bottom: 30px;
            }
            @include bp (xsx) {
                padding-left: 15px;
                padding-right: 15px;
            }
            .bg-title {
                background-image: $gradient-color;
            }
            ul {
                li {
                    color: $text-color;

                    i {
                        font-size: 14px;
                        color: $secondary-color;
                    }

                    span {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 1.7;
                        font-family: $primary-font;
                        color: $text-color;
                        @include bp (mdx) {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        // .faq-widget {
        //     .accordion-content {
        //         .card-header {
        //             a {
        //                 font-weight: 600;
        //             }
        //         }
        //     }
        // }
    }
}