// single blog css
.inner-banner-wrap {
    .entry-meta {
        border-top: 1px solid rgba(217, 217, 217, 0.23);
        border-bottom: 1px solid rgba(217, 217, 217, 0.23);
        margin-left: auto;
        margin-right: auto;
        display: table;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 30px;

        span {
            padding: 0 13px;
            position: relative;
            color: $secondary-color;

            &:before {
                content: "";
                width: 1px;
                height: 24px;
                background-color: $light-color;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translatey(-50%);
            }

            &:last-child {
                padding-right: 0;
                &:before {
                    display: none;
                }
            }
            &:first-child {
                padding-left: 0;
            }
            @include bp(xsx) {
                &:nth-child(2) {
                    &:before {
                        display: none;
                    }
                }
            }
        }

        .posted-on {
            a {
                &:before {
                    content: "\f073";
                    color: $secondary-color;
                }
            }
        }

        .byline {
            a {
                &:before {
                    content: "\f2bd";
                    color: $secondary-color;
                }
            }
        }

        .comments-link {
            a {
                &:before {
                    content: "\f086";
                    color: $secondary-color;
                }
            }
        }

        a {
            color: $light-color;
            display: inline-block;
            line-height: 1.7;

            &:before {
                font-family: "Font Awesome 5 Free";
                margin-right: 8px;
                font-weight: 900;
                @include transition(all 0.3s);
                color: $primary-color;
                font-size: 13px;
            }

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
}

.single-post-section {
    margin-bottom: 110px;

    @include bp(mdx) {
        margin-bottom: 60px;
    }

    @include bp(smx) {
        margin-bottom: 50px;
    }

    .feature-image {
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
    }

    .single-content-wrap {
        margin-bottom: 20px;

        p {
            margin-bottom: 0;
        }
    }

    .post-socail-wrap {
        .social-icon-wrap {
            .social-icon {
                a {
                    display: flex;
                    justify-content: center;
                    border-radius: 5px;

                    i {
                        width: 24px;
                        font-size: 13px;
                        padding-left: 6px;
                    }

                    span {
                        font-weight: 700;
                        padding: 11px 30px 11px 6px;
                        background-image: none;
                    }
                }
            }
        }
    }

    .author-wrap {
        background-color: #f9f9f9;
        @include clearfix;
        @include flexbox();
        @include flex-wrap(wrap);
        padding: 40px 40px 32px;
        margin-bottom: 22px;
        @include align-items(center);
        margin-top: 30px;
        border-radius: 5px;

        .author-thumb {
            width: 100px;

            img {
                border-radius: 100%;
            }
        }

        .author-content {
            @include calc(width, '100% - 120px');
            margin-left: 20px;

            .author-name {
                margin-bottom: 12px;
                margin-top: 8px;
            }

            p {
                margin-bottom: 20px;
            }

            .button-text {
                color: $nav-color;
                font-weight: 500;

                &:hover {
                    color: $hover-color;
                }
            }
        }

        @include bp(smx) {
            text-align: center;
            padding: 20px;

            .author-thumb {
                margin-bottom: 20px;
                margin-left: auto;
                margin-right: auto;
            }

            .author-content {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .divider-line {
        padding-top: 10px;
        padding-bottom: 30px;

        .st-line {
            width: 100%;
            border-top: 1px solid #AFAFAF2E;
            ;
            display: inline-block;
        }
    }
}

.post-navigation {
    @include clearfix;
    margin: 50px -10px 0;

    [class*="nav-"] {
        .nav-label {
            display: block;
            @include transition (color 0.4s);
            font-size: 13px;
            font-weight: 400;
        }

        .nav-title {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
        }
    }

    .nav-label {
        color: $secondary-color;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .nav-prev,
    .nav-next {
        width: 50%;
        padding: 0 10px;

        a {
            color: #292929;
            font-size: 15px;
            font-weight: normal;
            display: block;
            position: relative;
            @include transition(all 0.4s);

            &:before {
                color: $secondary-color;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 30px;
                display: block;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                @include translate(0, -50%);
            }

            &:hover,
            &:focus,
            &:active {
                color: $hover-color;

                .nav-title {
                    color: $hover-color;
                }
            }
        }
    }

    .nav-prev {
        float: left;

        @include bp(mdx) {
            width: 100%;
        }

        a {
            padding-left: 30px;

            &:before {
                left: 0;
                content: "\f053";
            }
        }
    }

    .nav-next {
        float: right;
        text-align: right;

        @include bp(mdx) {
            float: left;
            width: 100%;
        }

        a {
            padding-right: 30px;

            &:before {
                content: "\f054";
                right: 0;
            }
        }
    }

    .nav-prev~.nav-next {
        @include bp(mdx) {
            border-top: 1px solid #ececec;
            margin-top: 15px;
            padding-top: 15px;
        }
    }
}

.comment-area {
    .comment-title {
        margin-bottom: 25px;
    }

    ol {
        margin: 0;
        padding: 0;

        ol {
            margin-left: 30px;
        }

        li {
            list-style: none;
            margin-bottom: 30px;
            @include clearfix;
        }
    }

    .comment-thumb {
        width: 55px;
        @include border-radius(100%);
        overflow: hidden;
        float: left;
    }

    .comment-content {
        border: 1px solid #e6e6e6;
        @include calc(width, '100% - 65px');
        border-radius: 5px;
        float: right;
        padding: 20px;

        .comment-header {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        h5 {
            display: inline-block;
            margin-bottom: 0;
        }

        .post-on {
            font-size: 13px;
            margin-left: 10px;
        }

        .reply {
            background-color: $secondary-color;
            @include font-size(14);
            color: $light-color;
            padding: 5px 12px 6px;
            display: inline-block;
            line-height: 1.2;
            @include transition(all 0.4s);

            i {
                margin-right: 4px;
                @include font-size(12);
            }

            &:hover {
                background-color: $hover-color;
            }
        }
    }

    @include bp(smx) {
        .comment-thumb {
            width: 25px;
        }

        .comment-content {
            @include calc(width, '100% - 35px');
        }
    }
}

// comment form css
.comment-form-wrap {
    padding-top: 5px;

    .comment-title {
        margin-top: 8px;
        margin-bottom: 16px;
        font-size: 52px;
        @include bp(mdx) {
            font-size: 30px;
        }
    }

    .rate-wrap {
        padding: 0 15px;
        margin-bottom: 15px;
    }

    label {
        display: block;
        color: #292929;
        font-family: $primary-font;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.7;
    }

    input {
        border: none;

        &:not([type="submit"]) {
            background-color: #E7F0F7;
            width: 100%;
        }

        &[type="submit"] {
            margin-top: 0px;
            background-color: $secondary-color;

            &:hover {
                background-color: $hover-color;
            }
        }

        &[type="checkbox"] {
            width: auto;
        }
    }

    textarea {
        background-color: #E7F0F7;
        border: none;
    }
}

// single page css
.single-page-section {
    padding-bottom: 80px;

    @include bp(smx) {
        padding-bottom: 40px;
    }
}

.single-feature-img {
    img {
        margin-bottom: 30px;
    }
}

// left aside secondary
.secondary {
    .sidebar {
        .divider-wrapper {
            margin-bottom: 35px;
        }

        .profile {
            .social-icon {
                margin-top: 20px;
            }
        }

        .text-content {
            .name-title {
                h5 {
                    margin-bottom: 20px;
                    margin-top: 30px;

                    a {
                        color: $title-color;
                        font-size: 20px;
                    }
                }
            }

            p {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.7;
                color: $text-color;
            }
        }

        .social-icon {

            // margin-top: 28px;
            ul {
                list-style-type: none;
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 2px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        a {
                            i {
                                color: $anchor-hover-color;
                                border-color: $anchor-hover-color;
                            }
                        }
                    }

                    a {
                        i {
                            color: $secondary-color;
                            display: inline-block;
                            text-align: center;
                            font-size: 12px;
                            height: 30px;
                            width: 30px;
                            line-height: 28px;
                            transition: all 0.3s;
                            border-radius: 50%;
                            border: 1px solid $sub-secondary-color;
                        }
                    }
                }
            }
        }
    }

    .widget_latest_post {
        ul {
            li {
                display: flex;
                align-items: center;

                .post-thumb {
                    overflow: hidden;
                    border-radius: 5px;
                    margin-right: 15px;
                }
            }
        }

        .post-content {
            h6 {
                color: #292929;
                font-size: 15px;
                font-weight: 500;
                line-height: 1.2;
            }
        }

        .entry-meta {
            span {
                a {
                    font-size: 12px;
                    line-height: 1.3;
                }
            }
        }
    }

    .widget_social {
        .social-icon {
            a {
                background-color: $secondary-color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

                &:hover {
                    filter: none;
                    background-color: $anchor-hover-color;
                }

                i {
                    font-size: 20px;
                    width: 45px;
                    text-align: center;
                }

                span {
                    background-image: none;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 11px 15px;
                }
            }

        }
    }

}